﻿@model IEnumerable<_2_Parcia_Integracion.Models.ActivosFijos>

@{
    ViewData["Title"] = "Index";
}

<h4>Lista de activos fijos</h4>

<p>
    <a asp-action="Create" class="btn btn-success">Crear</a>
</p>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor_Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Registro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depreciacion_Acumulada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Activo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor_Compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Registro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depreciacion_Acumulada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
