﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>

    <p class="my-5 col-10 offset-1">
        A esta nuestra aplicacion de gestion de activos fijos, "<i>Activos Faciles</i>" la forma mas sencilla de calcular 
        la preciacion de sus activos fijos y registrarlos tambien en todo el internet.
    </p>
</div>

<hr />

<h3 class="text-center">Nuestros modulos:</h3>

<div class="row mt-4">
    <div class="col-4">
        <div class="card bg-light">
            <div class="card-body">
                <a class="text-dark" asp-controller="Departamentoes" asp-action="Index">
                    <img class="float-left card-img-top" src="~/img/enterprise.svg" alt="Employee image cap" style="height:75px;">
                    <h5 class="card-title text-center">Departamentos</h5>
                </a>
                <hr />
                <p class="card-text">Apartado para la gestion de departamentos.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-light">
            <div class="card-body">
                <a class="text-dark" asp-controller="Empleadoes" asp-action="Index">
                    <img class="float-left card-img-top" src="~/img/employee.svg" alt="Employee image cap" style="height:75px;">
                    <h5 class="card-title text-center">
                        Empleados
                    </h5>
                </a>
                <hr />
                <p class="card-text">Apartado para la gestion de los empleados de la empresa.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-light">
            <div class="card-body">
                <a class="text-dark" asp-controller="TipoDeActivoes" asp-action="Index">
                    <img class="float-left card-img-top" src="~/img/cargo.svg" alt="Employee image cap" style="height:75px;">
                    <h5 class="card-title text-center">
                        Tipos de Activos
                    </h5>
                </a>
                <hr />
                <p class="card-text">Apartado para la gestion de los tipos de activos fijos.</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-4 offset-2">
        <div class="card bg-light">
            <div class="card-body">
                <a class="text-dark" asp-controller="ActivosFijos" asp-action="Index">
                    <img class="float-left card-img-top" src="~/img/assets.svg" alt="Employee image cap" style="height:75px;">
                    <h5 class="card-title text-center">
                        Activos Fijos
                    </h5>
                </a>
                <hr />
                <p class="card-text">Apartado para la gestion de los activos fijos.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-light">
            <div class="card-body">
                <a class="text-dark" asp-controller="Depreciacions" asp-action="Index">
                    <img class="float-left card-img-top" src="~/img/depreciation.svg" alt="Employee image cap" style="height:75px;">
                    <h5 class="card-title text-center">
                        Depreciacion
                    </h5>
                </a>
                <hr />
                <p class="card-text">Apartado para la gestion de la depreciacion de los activos fijos.</p>
            </div>
        </div>
    </div>
</div>

<style scoped>
    body {
        background-image: linear-gradient(to bottom, #ffffff 10%, #9EE0FF );
    }
</style>