﻿@model _2_Parcia_Integracion.Models.Depreciacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Depreciacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo_FijoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo_FijoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Proceso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Proceso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moto_Depreciado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moto_Depreciado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deprecion_Acumulada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deprecion_Acumulada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuenta_Compra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuenta_Compra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuenta_Depreciacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuenta_Depreciacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
