﻿@model IEnumerable<_2_Parcia_Integracion.Models.Depreciacion>

@{
    ViewData["Title"] = "Index";
}

<h4>Depreciacion</h4>

<p>
    <a asp-action="Create" class="btn btn-success">Crear</a>
</p>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activo_FijoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Proceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moto_Depreciado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deprecion_Acumulada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuenta_Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuenta_Depreciacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activo_FijoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Proceso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moto_Depreciado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deprecion_Acumulada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuenta_Compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuenta_Depreciacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
