﻿@model _2_Parcia_Integracion.Models.TipoDeActivo

@{
    ViewData["Title"] = "Create";
}

<h4>crear tipo de activo</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuenta_Contable_Compra" class="control-label"></label>
                <input asp-for="Cuenta_Contable_Compra" class="form-control" />
                <span asp-validation-for="Cuenta_Contable_Compra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuenta_Contable_Depreciacion" class="control-label"></label>
                <input asp-for="Cuenta_Contable_Depreciacion" class="form-control" />
                <span asp-validation-for="Cuenta_Contable_Depreciacion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
