﻿@model IEnumerable<_2_Parcia_Integracion.Models.TipoDeActivo>

@{
    ViewData["Title"] = "Index";
}

<h4>Lista de los tipos de activos fijos</h4>

<p>
    <a asp-action="Create" class="btn btn-success">Crear</a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuenta_Contable_Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuenta_Contable_Depreciacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cuenta_Contable_Compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cuenta_Contable_Depreciacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
